<mat-tab-group>
	<mat-tab label="Référentiel">
		<main-table
			[data]="data"
			[getSemesters]="getSemesters"
			[toggleSequence]="toggleSequenceAndUpdateDataBySequences.bind(this)"
			[columnWidths]="columnWidths"
			[columnName]="columnName"
			[columnNames]="columnNames"
			[numberOfNestedLevel]="numberOfNestedLevel"
			[numberOfSequences]="numberOfSequences"
		>
		</main-table>
	</mat-tab>

	<mat-tab label="Séquences">
		<div *ngFor="let idSequence of fillSequenceArray()">
			<h3 *ngIf="idSequence === null">Sans assignation</h3>
			<h3 *ngIf="idSequence !== null">Séquence {{idSequence === 0 ? '&#x2205;' : idSequence}}</h3>
			<main-table
				[data]="dataBySequences[idSequence === null ? -1 : idSequence]"
				[getSemesters]="getSemesters"
				[toggleSequence]="toggleSequenceAndUpdateDataBySequences.bind(this)"
				[columnWidths]="columnWidths"
				[columnName]="columnName"
				[columnNames]="columnNames"
				[numberOfNestedLevel]="numberOfNestedLevel"
				[numberOfSequences]="numberOfSequences"
			>
			</main-table>
		</div>
	</mat-tab>
</mat-tab-group>
